// app global css in SCSS form
.body--light .q-table thead {
  background-color: #004f88;
  color: #fafafa;
}

.body--light .q-table th {
  color: #fafafa;
}

.body--light .q-table thead tr {
  color: #222222;
}

.body--light .q-table tbody tr:nth-child(odd) {
  background-color: #fff;
}

.body--light .q-table tbody tr:nth-child(odd) td .q-field__control {
  background-color: transparent;
}

.body--light .q-table tbody tr:nth-child(even) {
  background-color: #7091be;
  color: #fafafa;
}

.body--light .q-table tbody tr:nth-child(even) td .q-field__control {
  background-color: transparent;
}

.body--light .q-table tbody tr td .q-field--focused .q-field__control {
  background-color: #fafafa;
  border-radius: 5px 5px 0px 0px;
}

.body--light .q-table td {
  border-bottom-color: #d0d0d0;
}

.body--light .q-table__top {
  background-color: #004f88;
  color: #fafafa;
}

.body--light .q-table__bottom {
  background-color: #004f88;
  color: #fafafa;
}
